.justify, .footer_nav, .icono_envio h5, .icono_tarjetas h5, .icono_efectivo h5, .imagen-asesoramiento, .contenedor-imagen-consulta, .contenedor_imagen, .contenedor_imagen-nordi, .contenedor_imagen-minimalista, .contenedor_imagen-minim, .contenedor_imagen-boho, .card-title, .card-text, .btn, .contenedor {
  display: flex;
  justify-content: center; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header img {
  animation: ease-in animacionLogo 1s; }

@keyframes animacionLogo {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #D8D9CF; }

.footer {
  padding: 40px;
  border-top: #5b5b5b 1px solid; }
  .footer_nav {
    list-style-type: none;
    margin: 0px 20px;
    color: #5b5b5b;
    font-weight: bolder; }

i {
  font-size: 1.3rem; }

@media (max-width: 320px) {
  .footer {
    display: flex; }
  .footer_nav {
    flex-direction: column; }
  .footer_nav li {
    font-size: smaller;
    text-align: center; }
  i {
    font-size: 1rem; } }

.navbar_nav {
  width: 100%;
  justify-content: center; }

.navbar_link {
  color: #0b0b0b;
  font-weight: bolder;
  font-size: 1.1rem;
  font-style: italic; }

.imagen-logo {
  width: 130px;
  height: 130px; }

ul li {
  display: inline;
  margin: 0px 20px; }

.frase-inicio {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: xx-large;
  margin: 20px; }

iframe {
  width: 560px;
  height: 315px; }

.video-inicio {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px; }

.icono {
  margin: 20px;
  display: flex;
  justify-content: space-around; }
  .icono_envio h5 {
    font-size: small; }
  .icono_tarjetas img {
    margin-left: 120px; }
  .icono_tarjetas h5 {
    font-size: small; }
  .icono_efectivo img {
    margin-left: 40px; }
  .icono_efectivo h5 {
    font-size: small; }

@media (max-width: 768px) {
  .video-inicio {
    display: grid; }
  .iframe {
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: repeat(2 1fr); }
  .contenedor-videos {
    margin-bottom: 10px; } }

@media (max-width: 320px) {
  .contenedor_imagen img {
    width: 18rem;
    padding: 10px; }
  .contenedor-videos {
    display: none; }
  .frase-inicio {
    font-size: smaller;
    padding: 20px; }
  .icono {
    display: none; } }

.asesoramiento_titulo {
  text-align: center;
  font-size: 50px;
  font-weight: bolder; }

.asesoramiento_subtitulo {
  text-align: center;
  margin: 0px 10px; }

.contenedor_info {
  display: flex;
  align-items: center;
  padding: 20px; }
  .contenedor_info-virtual p {
    padding: 20px; }
  .contenedor_info-consulta p {
    padding: 20px; }
  .contenedor_info-consulta img {
    margin-bottom: 10px; }

.imagen-asesoramiento img {
  height: 250px;
  width: 300px;
  margin: 10px 10px;
  padding: 20px; }

.boton-reserva {
  margin: 20px;
  border: none;
  padding: 12px;
  background-color: #a19a9a;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 10px; }

.contenedor-imagen-consulta img {
  width: 400px;
  height: 350px; }

.estilo-a {
  color: #0f0f0f;
  text-decoration: none; }
  .estilo-a:hover {
    color: #faf7f7; }

@media (max-width: 320px) {
  .imagen-asesoramiento {
    display: flex;
    flex-direction: column; }
  .contenedor_info img {
    display: none; }
  .contenedor-imagen-consulta img {
    height: 253px;
    width: 310px;
    padding: 10px; } }

.contacto-titulo {
  text-align: center;
  font-size: 50px;
  font-weight: bolder; }

.info_contacto {
  text-align: center;
  margin-bottom: 10px; }
  .info_contacto p {
    margin: 10px; }

/* formulario contacto */
.form_registro {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #bdb8b8;
  border-radius: 10px; }
  .form_registro-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 22px; }

.controls {
  width: 100%;
  background: #ece5e5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 18px; }
  .controls_mensaje {
    width: 100%;
    background: #ece5e5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 18px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

.buttons {
  width: 100%;
  border: none;
  padding: 12px;
  background-color: #5b5b5b;
  margin-top: 10px;
  font-size: 15px;
  transition: all 1s ease; }
  .buttons:hover {
    color: whitesmoke; }

@media (max-width: 768px) {
  .info_contacto {
    margin: 40px; }
  .form_registro-title {
    margin-top: 20px; } }

@media (max-width: 320px) {
  .info_contacto p {
    font-size: smaller; }
  .form_registro {
    width: 300px;
    height: 661px; } }

.estilo_titulo {
  text-align: center;
  font-size: 50px;
  margin-top: 30px; }

.estilo p {
  padding: 10px 20px; }

.contenedor_imagen {
  margin-bottom: 20px; }
  .contenedor_imagen-industrial {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; }
  .contenedor_imagen-nordi {
    margin: 10px; }
  .contenedor_imagen-nordico {
    display: flex;
    justify-content: space-evenly; }

.info_estilo p {
  padding: 10px 20px; }

.info_estilo-minimalista p {
  padding: 10px 20px; }

.info_estilo-boho p {
  padding: 10px 20px; }

.contenedor_imagen {
  margin-top: 10px; }
  .contenedor_imagen-minimalista {
    margin-top: 10px; }
  .contenedor_imagen-boho {
    margin-top: 10px; }
    .contenedor_imagen-boho img {
      margin-bottom: 10px; }

@media (max-width: 768px) {
  .contenedor_imagen-industrial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  .contenedor_imagen-nordico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; } }

@media (max-width: 320px) {
  .contenedor_imagen img {
    display: flex;
    justify-content: space-evenly;
    width: 281px;
    height: 308px; }
  .contenedor_imagen-minim img {
    width: 300px;
    height: 300px;
    padding: 10px; }
  .contenedor_imagen-minimalista {
    display: none; }
  .contenedor_imagen-industrial img {
    height: 310px;
    width: 300px; }
  .contenedor_imagen-nordico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  .contenedor_imagen-nordico img {
    width: 289px;
    height: 320px; }
  .contenedor_imagen-boho img {
    display: flex;
    justify-content: space-evenly;
    height: 260px;
    width: 280px; } }

.productos {
  margin-bottom: 10px; }
  .productos_titulo {
    text-align: center;
    font-size: 50px;
    font-weight: bolder; }

/* card productos */
.card {
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .card img {
    width: 100%;
    height: 270px; }
  .card-body {
    display: flex;
    flex-direction: column;
    background-color: #D8D9CF; }

.mesa_ratona {
  margin-left: 60px; }

.btn {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #5b5b5b;
  padding: 10px;
  font-size: 15px;
  transition: 2s; }
  .btn:hover {
    border: 1px solid black; }

.contenedor {
  flex-wrap: wrap; }

.proyectos {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 50px; }
  .proyectos_imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px; }
    .proyectos_imagen img {
      width: 400px;
      height: 400px;
      transition: all 300ms;
      position: relative; }
    .proyectos_imagen img:hover {
      transform: scale(1.1); }

@media (max-width: 768px) {
  .proyectos_imagen {
    display: flex; }
    .proyectos_imagen {
      margin-bottom: 10px; } }

@media (max-width: 320px) {
  .proyectos_imagen img {
    height: 260px;
    width: 240px; } }
