@mixin  controls{
    width: 100%;
    background: #ece5e5;
    padding: $defaultSize;
    border-radius:4px;
    margin-bottom: $defaultSize;
    border: 1px solid black;
    font-size: 18px;
}

.contacto-titulo {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
} 
.info_contacto{
    text-align: center;
    margin-bottom: $defaultSize;
    & p{
    margin: $defaultSize;
    }
}
/* formulario contacto */
.form_registro{
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-bottom: $defaultSize;
  background-color: #bdb8b8;
  border-radius: $defaultSize;
  &-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 22px;
  }
}
.controls{
    @include controls;
    &_mensaje{
    @include controls;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    }
}
.buttons{
    width: 100%;
    border: none;
    padding: 12px;
    background-color: #5b5b5b;
    margin-top: $defaultSize;
    font-size: 15px;
    transition: $transition;
    &:hover{
    color: whitesmoke;
    }
}

@media (max-width:$bpMedium){
 .info_contacto{
    margin:40px;
 }
 .form_registro-title{
    margin-top: 20px;
 }
}
@media (max-width:$bpSmall){
.info_contacto p{
    font-size: smaller;
    }
.form_registro{
    width: 300px;
    height: 661px;
    }
}