
.frase-inicio {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight:lighter;
  font-size:xx-large;
  margin: 20px;
}  
    
iframe{
  width: 560px;
  height: 315px;  
}
  
.video-inicio{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: $defaultSize;
  margin: 40px;
}
.icono{
  text-align: center;
  margin: 60px 20px 100px 20px;
  display: flex;
  justify-content: space-around;
  &_envio{
    h5{
      @extend .justify;
      font-size: small;
    }
  }
  &_tarjetas{
    h5{
      @extend .justify;
      font-size: small;
    }
  }
  &_efectivo{
    h5{
      @extend .justify;
      font-size: small;
    }
  }
  }


// media queries
@media (max-width: $bpMedium) {
.video-inicio {
  display: grid; }
.iframe {
  @include templateGrid  (1); 
} 
.contenedor-videos {
  margin-bottom: 10px;
}
.icono {
  display: grid;
  gap: 40px;
  }

.footer_nav {
  display: grid;
  gap: 20px;
  text-align: center;
  }

@media(max-width:$bpSmall){
.contenedor_imagen img{
  width: 18rem ;
  padding: $defaultSize;
  } 
.contenedor-videos{
  display: none;
  }
.frase-inicio{
  font-size: smaller;
  padding: 20px;           
  }
  .icono{
  display: none;
  }
  }
}