
.proyectos{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 50px;
    &_imagen{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        gap: 30px;
        margin-bottom: 20px;
        img{
            width:400px;
            height:400px;
            transition: all 300ms;
            position: relative;
        }
        img:hover{
            transform: scale(1.1);
        }
    }
}

@media (max-width:$bpMedium) {
    .proyectos_imagen{
    display: flex;
    &{
        margin-bottom: 10px;
    }
    }
}
@media(max-width:320px){

    .proyectos_imagen img{
    height: 260px;
    width: 240px;
    }  
}